<div class="container">
  <h3>Enter some string</h3>
  <div class="form-group">
    <label for="string_input">String: </label>
    <input [(ngModel)]="inputString" class="form-control" type="text" id="string_input" placeholder="start typing..." />
  </div>

  <app-lenght [inputString]="inputString"></app-lenght>
  <app-char-at [inputString]="inputString"></app-char-at>
  <app-concat [inputString]="inputString"></app-concat>
  <app-index-of [inputString]="inputString"></app-index-of>
  <app-replace [inputString]="inputString"></app-replace>
  <app-slice [inputString]="inputString"></app-slice>
  <app-split [inputString]="inputString"></app-split>
  <app-to-upper-case [inputString]="inputString"></app-to-upper-case>
  <app-to-lower-case [inputString]="inputString"></app-to-lower-case>
  <app-trim [inputString]="inputString"></app-trim>
</div>
